<div id="sign-in-wrapper">
  <p>
    Hey there! This is a demo site I created to get familiar with the TeamSnap API. My goals were to:
  </p>

  <ol>
    <li>Authenticate with TeamSnap via 3-legged OAuth</li>
    <li>Display a list of the team's players on the 'Roster' tab</li>
  </ol>

  <p>
    Logging into the site <em>should</em> work for any team (though the roster page will only show one team ).
  </p>

  <p>
    You can also login to a test account previously set up:
  </p>

  <ul>
    <li>username: <strong>team@winterfell.com</strong></li>
    <li>password: <strong>123abc!!</strong></li>
  </ul>

  <%= link_to "/auth/teamsnap", id: "sign-in-button" do %>
    Sign in with <strong>TeamSnap</strong>
  <% end %>
</div>

<script>
  $("#sign-in-button").click(function() {
    $(this).addClass("clicked");
  });
</script>
