<div id="sign-in-wrapper">
  <p>
    Hey there! This is a demo site I created to get familiar with the TeamSnap API. My goals were to:
  </p>

  <ol>
    <li>Authenticate the user with TeamSnap via 3-legged OAuth</li>
    <li>Display a list of the team's players on the 'Roster' tab</li>
  </ol>

  <p>
    You can login with your own TeamSnap test site credentials or use one that I previously set up:
  </p>

  <ul>
    <li>username: <strong>team@winterfell.com</strong></li>
    <li>password: <strong>123abc!!</strong></li>
  </ul>

  <p>
    Lastly, this is a work in progress: automated tests, refactoring, and optimizations are in the works. Thanks for looking!
  </p>

  <%= link_to "/auth/teamsnap", id: "sign-in-button" do %>
    Sign in with <strong>TeamSnap</strong>
  <% end %>
</div>

<script>
  $("#sign-in-button").click(function() {
    $(this).addClass("clicked");
  });
</script>
