body {
  height: 100%;
}

#sign-in-button {
  line-height: 60px;
  height: 60px;
  width: 35%;
  min-width: 250px;
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  margin: auto;
  border-radius: 5px;
  color: white;
  background-color: #008cba;
  text-align: center;
  font-size: 1.2em;
  &.clicked {
    pointer-events: none;
    cursor: wait !important;
  }
  &:hover:active,
  &.clicked {
    background-color: #007094;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
