body {
  height: 100%;
}

#sign-in-button {
  line-height: 60px;
  height: 60px;
  width: 35%;
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  margin: auto;
  border-radius: 5px;
  color: white;
  background-color: #008cba;
  text-align: center;
  font-size: 1.2em;
}
